body {
    margin: 0;
    background: #1b1b1b;
    font-family: 'Ubuntu', sans-serif;

}
*{
    font-family: 'Ubuntu', sans-serif;

}
#all-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background: #1b1b1b;
}
#main-content {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#header {
    background-color: #c6c6c636;
    color: white;
    border-radius: 30px;
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.3);
    width: 100%;
    padding: 7px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-content {
    background-color: #f0db4f;
    display: grid;

    grid-template-columns: auto auto auto ;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.3);
    width: 100%;
    border-radius: 30px;
    color: #1b1b1b;
    border: 10px solid #3f3f3f;
    margin-top: 4px;
    height: 90%;
    aspect-ratio: 1;
    align-content: center;
}
h3 {
    margin: 0;
}
.square {
    padding: 20px;;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;

    border: 2px solid #1b1b1b;
    cursor: pointer;
    transition: all 0.5s ease;
    aspect-ratio: 1;
}
.square:hover {
    background-color: #c6b439;
}
.footer{
    z-index: 10000;
    margin-top: 20px;
}
.button {
    position: relative;
    width: 120px;
    height: 40px;
    background-color: #000;
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    justify-content: center;
    border: none;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
}

.button::before {
    content: "";
    position: absolute;
    inset: 0;
    left: -4px;
    top: -1px;
    margin: auto;
    width: 128px;
    height: 48px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.button::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
}

.button:hover::after {
    filter: blur(30px);
}

.button:hover::before {
    transform: rotate(-180deg);
}

.button:active::before {
    scale: 0.7;
}

.ajs-dialog{
    background-color: #434343;
}